In [1]:
import pandas as pd
import seaborn as sns
movie_merge = pd.read_csv('movie_merge.csv')
omdb = pd.read_csv('omdb.csv')

In [2]:
movie_merge.head()

,Unnamed: 0,Title,Studio_Abbreviation,Worldwide_Gross,Domestic_Gross,Domestic_Share,Overseas_Gross,Overseas_Share,Year_x,Genre,IMDB_Score,Metascore,Votes,Subgenre1,Subgrene2,Subgrene3
0,0,Avengers: Infinity War,BV,2048.4,678.8,33.1,1369.5,66.9,2018,"Action, Adventure, Sci-Fi",8.5,68,609291,Action,Adventure,Sci-Fi
1,1,Black Panther,BV,1346.9,700.1,52.0,646.9,48.0,2018,"Action, Adventure, Sci-Fi",7.3,88,484618,Action,Adventure,Sci-Fi
2,2,Jurassic World: Fallen Kingdom,Uni.,1309.5,417.7,31.9,891.8,68.1,2018,"Action, Adventure, Sci-Fi",6.2,51,206471,Action,Adventure,Sci-Fi
3,3,Incredibles 2,BV,1242.8,608.6,49.0,634.2,51.0,2018,"Animation, Action, Adventure",7.7,80,189268,Animation,Action,Adventure
4,4,Aquaman,WB,1146.9,334.8,29.2,812.1,70.8,2018,"Action, Adventure, Fantasy",7.2,55,210821,Action,Adventure,Fantasy

In [3]:
omdb.head()

,Unnamed: 0,Actors,Awards,BoxOffice,Country,DVD,Director,Error,Genre,Language,...,Runtime,Title,Type,Website,Writer,Year,imdbID,imdbRating,imdbVotes,totalSeasons
0,0,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",NaN,"$664,987,816",USA,14 Aug 2018,"Anthony Russo, Joe Russo",NaN,"Action, Adventure, Fantasy, Sci-Fi",English,...,149 min,Avengers: Infinity War,movie,http://marvel.com/movies/movie/223/avengers_in...,"Christopher Markus (screenplay by), Stephen Mc...",2018,tt4154756,8.5,"592,755",NaN
1,1,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",14 nominations.,"$501,105,037",USA,15 May 2018,Ryan Coogler,NaN,"Action, Adventure, Sci-Fi","English, Swahili, Nama, Xhosa, Korean",...,134 min,Black Panther,movie,https://www.marvel.com/movies/black-panther,"Ryan Coogler, Joe Robert Cole, Stan Lee (based...",2018,tt1825683,7.3,"469,075",NaN
2,2,"Chris Pratt, Bryce Dallas Howard, Rafe Spall, ...",NaN,NaN,USA,18 Sep 2018,J.A. Bayona,NaN,"Action, Adventure, Sci-Fi","English, Russian",...,128 min,Jurassic World: Fallen Kingdom,movie,http://www.jurassicworld.com,"Derek Connolly, Colin Trevorrow, Michael Crich...",2018,tt4881806,6.2,"202,204",NaN
3,3,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",NaN,NaN,USA,23 Oct 2018,Brad Bird,NaN,"Animation, Action, Adventure, Comedy, Family, ...",English,...,118 min,Incredibles 2,movie,http://movies.disney.com/the-incredibles-2,Brad Bird,2018,tt3606756,7.7,"185,186",NaN
4,4,"Jason Momoa, Amber Heard, Willem Dafoe, Patric...",NaN,NaN,"Australia, USA",NaN,James Wan,NaN,"Action, Adventure, Fantasy, Sci-Fi",English,...,143 min,Aquaman,movie,http://www.aquamanmovie.com/,David Leslie Johnson-McGoldrick (screenplay by...,2018,tt1477834,7.2,"208,461",NaN

In [6]:
# checking for and removing null values. Turns out 40 of the titles didn't work
omdb[omdb['Title'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Actors, Awards, BoxOffice, Country, DVD, Director, Error, Genre, Language, Metascore, Plot, Poster, Production, Rated, Ratings, Released, Response, Runtime, Title, Type, Website, Writer, Year, imdbID, imdbRating, imdbVotes, totalSeasons]
Index: []

[0 rows x 28 columns]

In [5]:
omdb.drop(omdb[omdb['Title'].isnull()].index, inplace=True)

In [10]:
omdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 0 to 837
Data columns (total 14 columns):
Actors        798 non-null object
Awards        705 non-null object
Country       798 non-null object
Director      791 non-null object
Language      798 non-null object
Plot          795 non-null object
Poster        795 non-null object
Production    784 non-null object
Rated         790 non-null object
Ratings       798 non-null object
Released      796 non-null object
Runtime       794 non-null object
Title         798 non-null object
Writer        795 non-null object
dtypes: object(14)
memory usage: 93.5+ KB

In [8]:
# removing columns we either already have or have no use for
omdb.drop(['BoxOffice', 'DVD', 'Error', 'Genre', 'Metascore', 'Type', 'Website', 'Response', 'Year', 'imdbID', 'imdbRating', 'imdbVotes', 'totalSeasons'], axis=1, inplace=True)

In [9]:
omdb.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
movie_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 16 columns):
Unnamed: 0             838 non-null int64
Title                  838 non-null object
Studio_Abbreviation    838 non-null object
Worldwide_Gross        838 non-null float64
Domestic_Gross         838 non-null float64
Domestic_Share         838 non-null float64
Overseas_Gross         826 non-null float64
Overseas_Share         838 non-null float64
Year_x                 838 non-null int64
Genre                  838 non-null object
IMDB_Score             838 non-null float64
Metascore              838 non-null int64
Votes                  838 non-null int64
Subgenre1              838 non-null object
Subgrene2              787 non-null object
Subgrene3              630 non-null object
dtypes: float64(6), int64(4), object(6)
memory usage: 104.8+ KB

In [12]:
movie_merge.drop('Unnamed: 0', axis=1, inplace=True)

In [36]:
# editing this title
omdb[omdb['Title'].str.contains('Star Wars: The Force')]

,Actors,Awards,Country,Director,Language,Plot,Poster,Production,Rated,Ratings,Released,Runtime,Title,Writer
240,"J.J. Abrams, John Boyega, Anthony Carboni, Gwe...",NaN,USA,NaN,English,NaN,https://m.media-amazon.com/images/M/MV5BM2UzYj...,NaN,NaN,"[{'Source': 'Internet Movie Database', 'Value'...",14 Dec 2015,NaN,Star Wars: The Force Awakens,Scott Bromley

In [35]:
omdb['Title'][240] = 'Star Wars: The Force Awakens'

In [30]:
omdb[omdb['Title'].str.contains('Star Wars: The Force')]['Title']

240    Star Wars: The Force Awakens World Premiere Re...
Name: Title, dtype: object

In [52]:
movie_merge.iloc[240, :]

Title                  Star Wars: The Force Awakens
Studio_Abbreviation                              BV
Worldwide_Gross                              2068.2
Domestic_Gross                                936.7
Domestic_Share                                 45.3
Overseas_Gross                               1131.6
Overseas_Share                                 54.7
Year_x                                         2015
Genre                    Action, Adventure, Fantasy
IMDB_Score                                        8
Metascore                                        81
Votes                                        775918
Subgenre1                                    Action
Subgrene2                                 Adventure
Subgrene3                                   Fantasy
Name: 240, dtype: object

In [37]:
# merging dataframes
movies = movie_merge.merge(omdb, on=['Title'], how='inner')
{'Title': 'Avengers: Infinity War',
 'Year': '2018',
 'Rated': 'PG-13',
 'Released': '27 Apr 2018',
 'Runtime': '149 min',
 'Genre': 'Action, Adventure, Fantasy, Sci-Fi',
 'Director': 'Anthony Russo, Joe Russo',
 'Writer': 'Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Stan Lee (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by), Joe Simon (Captain America created by), Jack Kirby (Captain America created by), Steve Englehart (Star-Lord created by), Steve Gan (Star-Lord created by), Bill Mantlo (Rocket Raccoon created by), Keith Giffen (Rocket Raccoon created by), Jim Starlin (Thanos,  Gamora and Drax created by), Stan Lee (Groot created by), Larry Lieber (Groot created by), Jack Kirby (Groot created by), Steve Englehart (Mantis created by), Don Heck (Mantis created by)',
 'Actors': 'Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans',
 'Plot': 'The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.',
 'Language': 'English',
 'Country': 'USA',
 'Awards': 'N/A',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.5/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '68/100'}],
 'Metascore': '68',
 'imdbRating': '8.5',
 'imdbVotes': '592,755',
 'imdbID': 'tt4154756',
 'Type': 'movie',
 'DVD': '14 Aug 2018',
 'BoxOffice': '$664,987,816',
 'Production': 'Walt Disney Pictures',
 'Website': 'http://marvel.com/movies/movie/223/avengers_infinity_war',
 'Response': 'True'}

In [41]:
movies.info()
movies.to_csv('movies.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 789 entries, 0 to 788
Data columns (total 28 columns):
Title                  789 non-null object
Studio_Abbreviation    789 non-null object
Worldwide_Gross        789 non-null float64
Domestic_Gross         789 non-null float64
Domestic_Share         789 non-null float64
Overseas_Gross         780 non-null float64
Overseas_Share         789 non-null float64
Year_x                 789 non-null int64
Genre                  789 non-null object
IMDB_Score             789 non-null float64
Metascore              789 non-null int64
Votes                  789 non-null int64
Subgenre1              789 non-null object
Subgrene2              741 non-null object
Subgrene3              589 non-null object
Actors                 789 non-null object
Awards                 699 non-null object
Country                789 non-null object
Director               784 non-null object
Language               789 non-null object
Plot                   787 non-null object
Poster                 787 non-null object
Production             778 non-null object
Rated                  784 non-null object
Ratings                789 non-null object
Released               788 non-null object
Runtime                787 non-null object
Writer                 787 non-null object
dtypes: float64(6), int64(3), object(19)
memory usage: 178.8+ KB

In [45]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 789 entries, 0 to 788
Data columns (total 28 columns):
Title                  789 non-null object
Studio_Abbreviation    789 non-null object
Worldwide_Gross        789 non-null float64
Domestic_Gross         789 non-null float64
Domestic_Share         789 non-null float64
Overseas_Gross         780 non-null float64
Overseas_Share         789 non-null float64
Year_x                 789 non-null int64
Genre                  789 non-null object
IMDB_Score             789 non-null float64
Metascore              789 non-null int64
Votes                  789 non-null int64
Subgenre1              789 non-null object
Subgrene2              741 non-null object
Subgrene3              589 non-null object
Actors                 789 non-null object
Awards                 699 non-null object
Country                789 non-null object
Director               784 non-null object
Language               789 non-null object
Plot                   787 non-null object
Poster                 787 non-null object
Production             778 non-null object
Rated                  784 non-null object
Ratings                789 non-null object
Released               788 non-null object
Runtime                787 non-null object
Writer                 787 non-null object
dtypes: float64(6), int64(3), object(19)
memory usage: 178.8+ KB

In [46]:
movie_merge.head()

,Title,Studio_Abbreviation,Worldwide_Gross,Domestic_Gross,Domestic_Share,Overseas_Gross,Overseas_Share,Year_x,Genre,IMDB_Score,Metascore,Votes,Subgenre1,Subgrene2,Subgrene3
0,Avengers: Infinity War,BV,2048.4,678.8,33.1,1369.5,66.9,2018,"Action, Adventure, Sci-Fi",8.5,68,609291,Action,Adventure,Sci-Fi
1,Black Panther,BV,1346.9,700.1,52.0,646.9,48.0,2018,"Action, Adventure, Sci-Fi",7.3,88,484618,Action,Adventure,Sci-Fi
2,Jurassic World: Fallen Kingdom,Uni.,1309.5,417.7,31.9,891.8,68.1,2018,"Action, Adventure, Sci-Fi",6.2,51,206471,Action,Adventure,Sci-Fi
3,Incredibles 2,BV,1242.8,608.6,49.0,634.2,51.0,2018,"Animation, Action, Adventure",7.7,80,189268,Animation,Action,Adventure
4,Aquaman,WB,1146.9,334.8,29.2,812.1,70.8,2018,"Action, Adventure, Fantasy",7.2,55,210821,Action,Adventure,Fantasy